:root {
  --primary-text-color: #212121;
  --advant-text-color: #757575;
  --team-box-position-color: #757575;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* logo */

.logo-web,
.logo-web-foot {
  color: var(--accent-color);
}
.logo-studio {
  color: #000000;
}

.logo-studio-foot {
  color: #ffffff;
}

.logo-web,
.logo-studio {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logotyp,
.logotyp-foot {
  text-decoration: none;
}

.logo-web-foot,
.logo-studio-foot {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

/* site nav */

.nav-contacts-container {
  display: flex;
  align-items: center;

  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  outline: 2px solid tomato;
}

.navigate {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
/* .site-nav .item {
  margin-right: 50px;
} */
/*  .site-nav .item:last-child {
  margin-right: 0;
} */

/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  letter-spacing: 0.02em;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* contacts */

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 50px;
}

.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  letter-spacing: 0.02em;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
  color: #2196f3;
}

/* Hero section */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2f303a;
}

.hero .hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  background-color: rgb(177, 126, 117);

  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-transform: uppercase;
}
.hero .button-hero {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;

  color: #ffffff;
  background-color: var(--accent-color);

  letter-spacing: 0.06em;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /*display: flex;*/
  align-items: center;
}
/* Advantages section */

.advant {
  background-color: turquoise;
  padding-top: 94px;
  padding-bottom: 94px;
}

.advant-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  outline: 2px solid tomato;
}

.advant-list {
  display: flex;
}

.advant-list .item {
  width: 270px;
  outline: 2px solid #2196f3;
}
.advant-list .item + .item {
  margin-left: 30px;
}

.advant .advant-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--advant-text-color);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.advant .advant-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
}

/* Activity section*/

.activity {
  background-color: yellow;
  padding-bottom: 94px;
}
.activity-boxes {
  display: flex;
}

.activity-boxes .box {
  display: block;
}

.activity-boxes .item + .item {
  margin-left: 30px;
}

.activity .activity-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  outline: 2px solid tomato;
}

.activity .activity-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.activity .activity-title,
.team .team-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Team section */

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  outline: 2px solid tomato;
}

.team-boxes {
  display: flex;
}

.team .team-image {
  display: block;
}

.team-boxes .box + .box {
  margin-left: 30px;
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.team .box {
  padding-bottom: 30px;
  background-color: #ffffff;
  outline: 2px solid tomato;
}

.team .team-person {
  margin-top: 30px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team .team-position {
  margin-top: 10px;
  margin-bottom: 0;

  color: var(--advant-text-color);

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/* Footer */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .footer-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  outline: 2px solid tomato;
}

.adress-list .adress {
  color: #ffffff;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.adress-list .adress-link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.adress-list .adress-link:hover,
.adress-list .adress:hover {
  color: var(--accent-color);
}

/* Portfolio styles */

.portfolio-title {
  display: none;
}

.portfolio-container {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: rgb(238, 163, 163);
}

.filters-container {
  background-color: darkcyan;
}

.filters {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  outline: 2px;
  outline: 2px solid tomato;
}

.filters .button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  color: #212121;
  background-color: #f5f4fa;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.filters .button:hover,
.filters .button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.filters .item + .item {
  margin-left: 8px;
}

.projects-container {
  background-color: rgb(188, 231, 162);
}

.projects {
  margin-right: auto;
  margin-left: auto;
  padding-top: 39px;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  outline: 2px solid tomato;
}

.projects .projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects .box {
  outline: 2px solid rgb(90, 12, 218);
  padding-bottom: 20px;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
/* margin-right: 30px;
  margin-bottom: 30px;
}
.projects .box:nth-last-child(-n + 3) {
  margin-bottom: 0;
}*/

.projects .box:nth-child(3n) {
  margin-right: 0;
}

.projects .project-title {
  margin-top: 20px;
  margin-bottom: 0;

  color: var(--primary-text-color);

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects .project-type {
  margin-top: 4px;
  margin-bottom: 0;

  color: var(--advant-text-color);

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
}
.projects .project-link {
  text-decoration: none;
}

.projects .image {
  display: block;
}
